{% extends 'base.html' %}
{% load i18n question_tags %}

{% block content %}

    <!-- question list Faq-->
    <section class="section section-lg bg-white text-center">
        <div class="shell shell-wide">

            <div class="range range-xs-center">
                <div class="cell-xs-12">

                    <div class="panel-group panel-group-custom panel-group-corporate" id="accordion1" role="tablist"
                         aria-multiselectable="false">

                        {% for category in results %}

                            <h3 class="text-left {% if forloop.first %}m-b-50{% else %}faq-header{% endif %}">{{ category.name }}</h3>

                            {% for question in category.questions %}

                                <div class="panel panel-custom panel-corporate">
                                    <div class="panel-heading"
                                         id="category{{ forloop.parentloop.counter }}question{{ forloop.counter }}"
                                         role="tab">
                                        <div class="panel-title">
                                            <a class="collapsed"
                                               role="button" data-toggle="collapse"
                                               data-parent="#accordion1"
                                               href="#category{{ forloop.parentloop.counter }}collapse{{ forloop.counter }}"
                                               aria-controls="category{{ forloop.parentloop.counter }}collapse{{ forloop.counter }}"
                                               aria-expanded="false">
                                                {{ question.text }}
                                                <div class="panel-arrow"></div>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="panel-collapse collapse"
                                         id="category{{ forloop.parentloop.counter }}collapse{{ forloop.counter }}"
                                         role="tabpanel"
                                         aria-labelledby="category{{ forloop.parentloop.counter }}question{{ forloop.counter }}">
                                        <div class="panel-body">
                                            <p>{{ question.answer|safe }}</p>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        {% endfor %}

                    </div>
                </div>
            </div>

            <!-- Question form -->
            <div class="range range-xs-center">
                <div class="cell-xs-12 text-left">
                    <h3>{% trans 'There is no question for me, but it is very important for me!' %}</h3>

                    <p class="smyt-p">{% trans 'Fill out the form below, and our HR-specialists will necessarily answer, or ask a question in on-line chat.' %}</p>

                    <p class="smyt-p">{% trans 'We will be happy to tell you all about SMYT!' %}</p>

                    {% question_form %}

                </div>
            </div>
        </div>
    </section>

{% endblock %}