*.pyc
*.pyo
.project
.metadata
.pydevproject
.ropeproject
.settings
.codeintel
.idea
.build
local_settings.py
*.sqlite3
__pycache__

.cache/

/media/
/static/

/htmlcov/
.coverage

*.log
conf/*.conf
conf/*.ini
*.swp
*.swa
*.swo
.DS_Store
