{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}

<!-- {% trans 'About work in the company' %} -->
<section class="section section-lg bg-gray-lighter text-center">
    <div class="shell shell-wide">
        <h3>{% trans 'About work in the company' %}</h3>

        <!-- XS devices < 768 -->
        <div class="range range-30 range-xs-center hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo-main">
                    <h2 class="single-line-caption">{% trans 'Our main value' %} - <span>{% trans 'SMYT Team!' %}</span></h2>
                    <p>
                        {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_1.html' %}
                    </p>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-clock.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="single-line-caption">{% trans 'Flexible schedule' %}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo-white">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-laptop.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="single-line-caption one-line-caption">{% trans 'Remote work' %}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-display.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="double-line-caption">{% trans 'Comfortable quiet work place' %}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo-white">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-shirt.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="double-line-caption">{% trans 'Any style clothes' %}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-english.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="single-line-caption">{% trans 'English language' %}</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- SM MD devices 768 - 1200 -->
        <div class="range range-30 range-xs-center hidden-xs hidden-lg">

            <div id="md-promo-left" class="col-sm-6 m-t-10">

                <div class="row">

                    <div class="col-xs-12 m-t-10 p-r-5">
                        <div id="md-promo-schedule" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-clock.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">{% trans 'Flexible schedule' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_1.html' %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 m-t-10 p-r-5">
                        <div id="md-promo-remote-job" class="bg-promo-white">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-laptop.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">{% trans 'Remote work' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_3.html' %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 m-t-10 p-r-5">
                        <div id="md-promo-workplace" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-display.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="double-line-caption">{% trans 'Comfortable quiet work place' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_4.html' %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 m-t-10 p-r-5">
                        <div id="md-promo-free-style" class="bg-promo-white">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-shirt.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="double-line-caption">{% trans 'Any style clothes' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_6.html' %}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div id="md-promo-right" class="col-sm-6 m-t-10">

                <div class="row">
                    <div id="md-promo-main" class="col-xs-12 m-t-10 p-l-5">
                        <div class="bg-promo-main">
                            <h1>{% trans 'Our main value' %} - <span>{% trans 'SMYT Team!' %}</span></h1>
                            <p>
                                {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_2.html' %}
                            </p>
                        </div>
                    </div>
                    <div class="col-xs-12 m-t-10 p-l-5">
                        <div id="md-promo-english" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-english.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">{% trans 'English language' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_5.html' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- LG devices > 1200 -->
        <div class="range range-30 range-xs-center hidden-xs hidden-sm hidden-md">

            <div id="lg-promo-left" class="col-lg-8 m-t-10">
                <div class="row">

                    <div class="col-lg-6 pull-left p-r-5">
                        <div id="lg-promo-schedule" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-clock.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">{% trans 'Flexible schedule' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_1.html' %}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pull-right p-lr-5">
                        <div id="lg-promo-main" class="bg-promo-main">
                            <h1>{% trans 'Our main value' %} - <span>{% trans 'SMYT Team!' %}</span></h1>
                            <p>
                                {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_2.html' %}
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-6 pull-left p-r-5 m-t-10">
                        <div id="lg-promo-remote-job" class="bg-promo-white">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-laptop.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">{% trans 'Remote work' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_3.html' %}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row m-t-10">
                    <div class="col-lg-12 p-r-5">
                        <div id="lg-promo-workplace" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-display.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="double-line-caption">{% trans 'Comfortable quiet work place' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_4.html' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="lg-promo-right" class="col-lg-4 m-t-10">
                <div class="row">
                    <div class="col-xs-12 p-l-5">
                        <div id="lg-promo-english" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-english.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">{% trans 'English language' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_5.html' %}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-l-5 m-t-10">
                        <div id="lg-promo-free-style" class="bg-promo-white">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-shirt.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="double-line-caption">{% trans 'Any style clothes' %}</h2>
                                <p>
                                    {% include 'vacancies/about_template_lang.html' with NAME_TEMPLATE='/advantage_6.html' %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>