{% load static %}
<!-- О работе в компании -->
<section class="section section-lg bg-gray-lighter text-center">
    <div class="shell shell-wide">
        <h3>О работе в компании</h3>

        <!-- XS devices < 768 -->
        <div class="range range-30 range-xs-center hidden-sm hidden-md hidden-lg">
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo-main">
                    <h1>Наша основная ценность - <span>команда СМИТ!</span></h1>
                    <p>Не следует, однако забыбвать, что постоянный количественный рост и сфера нашей активности
                        требует от нас анализа системы обучения кадров, соответствует насущным потребностям.
                        Товарищи! Укрепление и развитие структуры в значительной степени обуславливает создание
                        существенных финансовых и административных условий. Значимость эитх проблем настолько
                        очевидна, что новая модель организационной деятельности требует определения и
                        уточнения.</p>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-clock.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="single-line-caption">Гибкий график</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo-white">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-laptop.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="single-line-caption one-line-caption">Удаленная работа</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-display.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="double-line-caption">Комфортное тихое рабочее место</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo-white">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-shirt.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="double-line-caption">Свободный стиль одежды</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 m-t-10">
                <div class="bg-promo">
                    <div class="promo-img">
                        <img src="{% static 'images/promo-english.png' %}"/>
                    </div>
                    <div class="promo-text">
                        <h2 class="single-line-caption">Английский язык</h2>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- SM MD devices 768 - 1200 -->
        <div class="range range-30 range-xs-center hidden-xs hidden-lg">

            <div id="md-promo-left" class="col-sm-6 m-t-10">

                <div class="row">

                    <div class="col-xs-12 m-t-10 p-r-5">
                        <div id="md-promo-schedule" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-clock.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">Гибкий график</h2>
                                <p>Самостоятельно выбирайте для работы комфортное время. Мы ориентированы не на
                                    процесс, а на результат, поэтому требование сидеть за компьютером строго с 8 до
                                    17 часов отсутствует.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 m-t-10 p-r-5">
                        <div id="md-promo-remote-job" class="bg-promo-white">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-laptop.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">Удаленная работа</h2>
                                <p>Вы можете работать из любой точки мира, где есть компьютер со стабильным доступом
                                    в интернет.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 m-t-10 p-r-5">
                        <div id="md-promo-workplace" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-display.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="double-line-caption">Комфортное тихое рабочее место</h2>
                                <p>Мы внимательно относимся к потребностям наших работников и готовы оборудовать
                                    рабочее место в нашем офисе с учетом пожеланий каждого сотрудника.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 m-t-10 p-r-5">
                        <div id="md-promo-free-style" class="bg-promo-white">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-shirt.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="double-line-caption">Свободный стиль одежды</h2>
                                <p>Мы не хотим ограничивать своих офисных сотрудников дресс-кодом, требованиями к
                                    длине или цвету волос, размеру или виду татуировок. Вам не нужно отказываться от
                                    своего стиля, чтобы угодить нашим вкусам.</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div id="md-promo-right" class="col-sm-6 m-t-10">

                <div class="row">
                    <div id="md-promo-main" class="col-xs-12 m-t-10 p-l-5">
                        <div class="bg-promo-main">
                            <h1>Наша основная ценность - <span>команда СМИТ!</span></h1>
                            <p>Мы гордимся тем, что в нашей команде здоровая атмосфера. Нам жаль тратить время на
                                интриги и сплетни, ведь существует множество других интересных тем: курс Биткоина,
                                книги Пелевина, новая серия Игры престолов или Мистера Робота, новые события в
                                любимых вселенных от Fallout до Call of Duty. У нас нет ранговой иерархии, можно
                                свободно обращаться к каждому из сотрудников, какую бы должность он не занимал.
                                Любой из руководителей будет рад услышать и обсудить ваши идеи и предложения.</p>
                        </div>
                    </div>
                    <div class="col-xs-12 m-t-10 p-l-5">
                        <div id="md-promo-english" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-english.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">Английский язык</h2>
                                <p>Мы поддерживаем желание сотрудников учиться и развиваться. Для этого мы тщательно
                                    подбирали высококвалифицированных преподавателей, филологов и носителей языка.
                                    Мы подбираем удобное время и программу обучения для каждого студента.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!-- LG devices > 1200 -->
        <div class="range range-30 range-xs-center hidden-xs hidden-sm hidden-md">

            <div id="lg-promo-left" class="col-lg-8 m-t-10">
                <div class="row">

                    <div class="col-lg-6 pull-left p-r-5">
                        <div id="lg-promo-schedule" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-clock.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">Гибкий график</h2>
                                <p>Самостоятельно выбирайте для работы комфортное время. Мы ориентированы не на
                                    процесс, а на результат, поэтому требование сидеть за компьютером строго с 8 до
                                    17 часов отсутствует. Команда обсуждает задачи, договариваясь о времени удобном
                                    для всех, оставшуюся работу выполняйте в ваш персональный период максимальной
                                    продуктивности.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 pull-right p-lr-5">
                        <div id="lg-promo-main" class="bg-promo-main">
                            <h1>Наша основная ценность - <span>команда СМИТ!</span></h1>
                            <p>Мы гордимся тем, что в нашей команде здоровая атмосфера. Нам жаль тратить время на
                                интриги и сплетни, ведь существует множество других интересных тем: курс Биткоина,
                                книги Пелевина, новая серия Игры престолов или Мистера Робота, новые события в
                                любимых вселенных от Fallout до Call of Duty. У нас нет ранговой иерархии, можно
                                свободно обращаться к каждому из сотрудников, какую бы должность он не занимал.
                                Любой из руководителей будет рад услышать и обсудить ваши идеи и предложения.</p>
                        </div>
                    </div>

                    <div class="col-lg-6 pull-left p-r-5 m-t-10">
                        <div id="lg-promo-remote-job" class="bg-promo-white">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-laptop.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">Удаленная работа</h2>
                                <p>Вы можете работать из любой точки мира, где есть компьютер со стабильным доступом
                                    в интернет.</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row m-t-10">
                    <div class="col-lg-12 p-r-5">
                        <div id="lg-promo-workplace" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-display.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="double-line-caption">Комфортное тихое рабочее место</h2>
                                <p>Функциональность и продуктивность - вот девиз обстановки нашего офиса. Нужен
                                    второй монитор или удобное кресло, поддерживающее спину? Мы внимательно
                                    относимся к потребностям наших работников и готовы оборудовать рабочее место в
                                    нашем офисе с учетом пожеланий каждого сотрудника. Приятным бонусом станет
                                    дружеская атмосфера в коллективе.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div id="lg-promo-right" class="col-lg-4 m-t-10">
                <div class="row">
                    <div class="col-xs-12 p-l-5">
                        <div id="lg-promo-english" class="bg-promo">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-english.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="single-line-caption">Английский язык</h2>
                                <p>Мы поддерживаем желание сотрудников учиться и развиваться. Для этого мы тщательно
                                    подбирали высококвалифицированных преподавателей, филологов, и носителей языка.
                                    Занятия проходят в скайпе: индивидуально и в парах. Мы подбираем удобное время и
                                    программу обучения для каждого студента. Платим мы, а учитесь вы!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 p-l-5 m-t-10">
                        <div id="lg-promo-free-style" class="bg-promo-white">
                            <div class="promo-img">
                                <img src="{% static 'images/promo-shirt.png' %}"/>
                            </div>
                            <div class="promo-text">
                                <h2 class="double-line-caption">Свободный стиль одежды</h2>
                                <p>Вам не придется добавлять в свой гардероб “белый верх и черный низ”, а также
                                    учиться вязать идеальный виндзорский узел. Мы не хотим ограничивать своих
                                    офисных сотрудников дресс-кодом, требованиями к длине или цвету волос, размеру
                                    или виду татуировок.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>