{% load rest_framework i18n %}

<!-- {% trans 'Contacts' %} -->
<!--<section class="section section-lg bg-gray-lighter text-center" id="contacts-form" data-type="anchor">-->
<section class="section section-lg bg-gray-lighter text-center" id="contacts-form">
    <div class="shell shell-wide">
        <h3>{% trans 'Contacts' %}</h3>
        <div class="divider divider-default"></div>
        <div class="range range-50 range-xs-center">
            <div class="cell-xs-12 cell-md-6 cell-lg-8 right-block-divider">

                <!-- address -->
                <div class="our-contacts">

                    <article class="box-contacts">
                        <span class="icon icon-md-smaller icon-primary-gradient mdi mdi-email-open"></span>
                        <span class="m-l-40">
								<a class="contacts-link" href="#" onclick="return false">hr@smyt.ru</a>
							</span>
                    </article>

                    <article class="box-contacts">
                        <span class="icon icon-md-smaller icon-primary-gradient mdi mdi-phone"></span>
                        <span class="m-l-40">
								<a class="contacts-link" href="#" onclick="return false">+7 (812) 309-72-84</a>
							</span>
                    </article>

                    <article class="box-contacts">
                        <span class="icon icon-md-smaller icon-primary-gradient mdi mdi-map-marker"></span>
                        <span class="m-l-40">
								<a class="contacts-link" href="#" onclick="return false">{% trans 'St. Petersburg, 17 th line of the VO, d. 4-6, of. T-217 BC Citylink' %}</a>
							</span>
                    </article>

                </div>

                <div class="divider divider-default"></div>

                <!--Complaint form -->

                <h6 class="text-left" id="send-feedback-about-hr">{% trans 'Complain to the HR department here:' %}</h6>

                <form class="rd-mailform white-chrome-auto-fields"
                      data-form-output="form-output-global"
                      data-form-type="contact"
                      method="post"
                      action="{% url 'complaint-form' %}">{% csrf_token %}

                    <div class="range range-20">

                        <div class="cell-xs-12 cell-md-6">
                            {% render_field complaint_serializer.comment complaint_serializer.comment.style %}
                        </div>

                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-wrap form-wrap-validation contacts-max-width">
                                {% render_field complaint_serializer.fio complaint_serializer.fio.style %}
                            </div>

                            <div class="form-wrap form-wrap-validation contacts-max-width">
                                {% render_field complaint_serializer.email complaint_serializer.email.style %}
                            </div>

                            <div class="form-wrap">
                                <div class="form-wrap form-wrap-validation validation-captcha">
                                    <div id="c1-recaptcha" class="recaptcha"></div>
                                </div>
                            </div>
                        </div>

                        <div class="cell-xs-12">
                            <div class="form-button">
                                <button class="base-smyt-btn" type="submit" id="hr-send-button">
                                    {% trans 'Send complaint to director' %}
                                </button>
                            </div>
                        </div>

                    </div>
                </form>


            </div>
            <div class="cell-xs-12 cell-md-6 cell-lg-4">
                <h6 class="text-left our-contacts" id="ask-adding-info">
                    {% blocktrans %}If you did not find what you are interested, write us!
                    Specialists of HR-department will be happy to answer you.{% endblocktrans %}</h6>

                <form class="rd-mailform m-t-10 white-chrome-auto-fields"
                      data-form-output="form-output-global"
                      data-form-type="contact"
                      method="post"
                      action="{% url 'question-form' %}">{% csrf_token %}

                    <div class="range range-20">

                        <div class="col-xs-12">

                            <div class="form-wrap form-wrap-validation">
                                {% render_field question_serializer.fio question_serializer.fio.style %}
                            </div>

                            <div class="form-wrap form-wrap-validation">
                                {% render_field question_serializer.email question_serializer.email.style %}
                            </div>

                            <div class="form-wrap form-wrap-validation">
                                {% render_field question_serializer.comment question_serializer.comment.style %}
                            </div>
                        </div>

                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-wrap form-wrap-validation validation-captcha">
                                <div id="c2-recaptcha" class="recaptcha"></div>
                            </div>
                        </div>

                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-button">
                                <button class="base-smyt-btn" type="submit" id="ask-button">{% trans 'Ask' %}</button>
                            </div>
                        </div>

                    </div>

                </form>

            </div>
        </div>
    </div>
</section>