{% extends 'base.html' %}
{% load i18n static rest_framework vacancies_tags question_tags %}

{% block content %}
    <!-- {% trans 'Vacancies' %} -->
    <section class="section section-lg bg-white text-center sm-p-t">
        <div class="shell shell-wide">

            <h3>{% trans 'Our vacancies' %}</h3>

            <div class="divider divider-default"></div>

            <!-- {% trans 'Filter' %} -->
            {% search_filter %}

        </div>

        {% main_vacancies %}

        <div class="shell shell-wide text-center">
            <a href="{% url 'vacancy-list' %}"
               class="scroll button button-sm button-primary with-lato">{% trans 'View all open vacancies' %}</a>
        </div>

    </section>

    {% include 'vacancies/about.html' %}

    <!-- Faq -->
    {% main_questions %}

    {% include 'vacancies/contacts.html' %}

{% endblock %}
