<!-- Page Footer-->
<!-- Footer Default-->
<footer class="section page-footer page-footer-default text-left bg-black-lighter smyt-footer">
    <div class="shell-wide" id="footer-shell">
        <div class="range range-50">
            <div class="cell-xs-12 p-t-20">

                <div class="group-xs group-middle">
                    <a class="social facebook-smyt-icon" href="https://www.facebook.com/smytcompany/"
                       target="_blank">&nbsp</a>
                    <a class="social linkedin-smyt-icon" href="https://www.linkedin.com/company/smyt"
                       target="_blank">&nbsp</a>
                    <a class="social google-smyt-icon"
                       href="https://plus.google.com/104885120349486077048">&nbsp</a>
                </div>

                <h5 class="pull-right" id="copyright">SMYT, LLC Copyright {% now 'Y' %}</h5>
            </div>
        </div>
    </div>
</footer>