{% load rest_framework %}


<div class="modal fade send-self-profile" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     id="profile-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Пришлите нам свое резюме, и мы обязательно свяжемся с вами!</h4>
            </div>
            <div class="modal-body">
                <form class="rd-mailform grey-chrome-auto-fields"
                      data-modal-id="profile-modal"
                      data-form-output="form-output-global"
                      data-form-type="contact"
                      method="post"
                      enctype="multipart/form-data"
                      action="{% url 'home' %}">{% csrf_token %}

                    <div class="range">
                        <div class="cell-xs-12 cell-md-6 m-t-20">
                            <div class="form-wrap form-wrap-validation">
                                {% render_field resume_serializer.fio resume_serializer.fio.style %}
                            </div>
                        </div>

                        <div class="cell-xs-12 cell-md-6 m-t-20">
                            <div class="form-wrap form-wrap-validation">
                                {% render_field resume_serializer.email resume_serializer.email.style %}
                            </div>
                        </div>

                        <div class="cell-xs-12 cell-md-6 m-t-20">
                            <div class="file_upload">
                                <button type="button">Прикрепить резюме</button>
                                <!--<div>*.doc, *.docx, *.rtf</div>-->
                                <div>*.doc, *.docx, *.rtf, *.pdf</div>
                                {% render_field resume_serializer.file resume_serializer.file.style %}
                            </div>
                        </div>

                        <div class="cell-xs-12 cell-md-6 m-t-20">
                            <div class="form-wrap form-wrap-validation">
                                {% render_field resume_serializer.phone resume_serializer.phone.style %}
                            </div>
                        </div>

                        <div class="cell-xs-12 cell-md-6 m-t-20">
                            <div class="form-wrap form-wrap-validation">
                                {% render_field resume_serializer.link resume_serializer.link.style %}
                            </div>
                        </div>

                        <div class="cell-xs-12 cell-md-6 m-t-20">
                            <div class="form-wrap form-wrap-validation">
                                {% render_field resume_serializer.skype resume_serializer.skype.style %}
                            </div>
                        </div>

                    </div>

                    <div class="range m-t-20">
                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-wrap form-wrap-validation">
                                {% render_field resume_serializer.position resume_serializer.position.style %}
                            </div>
                        </div>
                    </div>

                    <div class="range m-t-20">
                        <div class="cell-xs-12">
                            <div class="form-wrap form-wrap-validation">
                                {% render_field resume_serializer.comment resume_serializer.comment.style %}
                            </div>
                        </div>
                    </div>

                    <div class="range m-t-20">
                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-wrap form-wrap-validation validation-captcha">
                                <div id="profile-recaptcha" class="recaptcha"></div>
                            </div>
                        </div>
                        <div class="cell-xs-12 cell-md-6">
                            <div class="form-button">
                                <button class="base-smyt-btn" type="submit">Отправить</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>